.deps
.libs
*.la
*.lo
*.o
*.so
*.desktop
autom4te.cache
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
gol
growl-for-linux-*.tar.*
install-sh
INSTALL
libtool
ltmain.sh
m4
missing
Makefile
Makefile.in
