body {
  margin: 0px;
  padding: 0px;
  color: black;
  background-color: #ffddee;
}

#logo {
  color: white;
  background-color: #000055;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  zoom: 1;
  padding: 20px 20px 40px 20px;
  margin: 10px;
  font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
  font-size: 1em;
  text-align: left;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
#content {
  background-color: white;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  zoom: 1;
  padding: 10px;
  margin: 10px;
  font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
  font-size: 1em;
  text-align: left;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
